/build/
build.xml

*.class
*.dll
*.exe
*.o

*.log
.DS_Store
.DS_Store?
*~

**/*~

.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr

/dist/
/nbproject/
nbproject/private/private.properties
nbproject/private/*.*
src/java/Model/Database/MySQLConnection.java
