a img{
	border: none;	
}
.pass a{
	  color: #919aa1;
	text-decoration: none;	
}
.pass a:hover {

  text-decoration: underline;
}
.navbar_padding {
  margin-bottom: 40px;
}
.col-centered{
    margin: 0 auto;
}